{% extends 'knp_menu.html.twig' %}


{% block root %}
    {% set listAttributes = item.childrenAttributes %}
    {% import 'knp_menu.html.twig' as knp_menu %}
    <ul class="list-unstyled m-none pt-lg pb-lg">
        {{ block('children') }}
    </ul>
{% endblock %}


{% block list %}
    {% if item.hasChildren and options.depth is not sameas(0) and item.displayChildren %}
        {% import 'knp_menu.html.twig' as knp_menu %}
        <ul class="dropdown-menu" role="menu">
            {{ block('children') }}
        </ul>
    {% endif %}
{% endblock %}


{% block item %}
    {% if item.displayed %}

        {% import 'knp_menu.html.twig' as knp_menu %}

        {% if item.level <= 1 %}<li class="ib{% if not item.actsLikeLast %} mr-sm{% endif %}"><div class="btn-group">{% else %}<li>{% endif %}

            {#{%- if item.uri is not empty and (not matcher.isCurrent(item) or options.currentAsLink) %}#}
                {{ block('linkElement') }}
            {#{%- endif %}#}
            {{ block('list') }}

        {% if item.level <= 1 %}</div>{% endif %}
        </li>
    {% endif %}
{% endblock %}

{% block linkElement %}
    {% if item.level <= 1 %}
        <a href="{% if item.uri is not empty %}{{ item.uri }}{% else %}#{% endif %}" class="item-action{% if item.getExtra('icon') is not null %} fa fa-{{ item.getExtra('icon') }}{% endif %}{% if item.getExtra('context') is not null %} text-{{ item.getExtra('context') }}{% endif %} dropdown-toggle" data-toggle="dropdown" alt="{{ item.label }}"></a>
    {% else %}
        <a href="{% if item.uri is not empty %}{{ item.uri }}{% else %}#{% endif %}">{{ block('label') }}</a>
    {% endif %}
{% endblock %}

{% block label %}
    {% if item.getExtra('badge') is not null %}<span class="pull-right label label-{{ item.getExtra('badge_context', 'primary') }}">{{ item.getExtra('badge') }}</span>{% endif %}
    {% if item.getExtra('icon') is not null %}<i class="fa fa-{{ item.getExtra('icon') }}{% if item.getExtra('context') is not null %} text-{{ item.getExtra('context') }}{% endif %}" aria-hidden="true"></i>{% endif %}
    <span class="{% if item.getExtra('context') is not null %} text-{{ item.getExtra('context') }}{% endif %}">{% if options.allow_safe_labels and item.getExtra('safe_label', false) %}{{ item.label|raw }}{% else %}{{ item.label }}{% endif %}</span>
{% endblock %}