{% block uneak_date_picker_widget %}
    {% spaceless %}


        {% if widget == "single_text" %}
            {{ block("form_widget_simple") }}
        {% else %}
            <div {{ block("widget_container_attributes") }}>
                {{ date_pattern|replace({
                    "{{ year }}":  form_widget(form.year),
                    "{{ month }}": form_widget(form.month),
                    "{{ day }}":   form_widget(form.day),
                })|raw }}

                {% set attr = {"size": 10}|merge(attr) %}
                {% set id = "datepicker_" ~ id %}
                {% set value = '' %}
                {% set full_name = "datepicker_" ~ full_name %}
                {{ block("hidden_widget") }}
            </div>
        {% endif %}



        {#'component', 'date-range', 'embedded#}
        {#{% if markup == 'input' %}#}
        {#{{ block("form_widget_simple") }}#}

        {#{% elseif markup == 'component' %}#}
        {#<div class="input-append date">#}
        {#{{ block("form_widget_simple") }}#}
        {#<span class="add-on"><i class="icon-th"></i></span>#}
        {#</div>#}

        {#{% elseif markup == 'date-range' %}#}
        {#<div class="input-daterange">#}
        {#<input type="text" class="input-small" value="2012-04-05" />#}
        {#<span class="add-on">to</span>#}
        {#<input type="text" class="input-small" value="2012-04-19" />#}
        {#</div>#}

        {#{% elseif markup == 'embedded' %}#}
        {#<div data-date="12/03/2012"></div>#}

        {#{% endif %}#}

    {% endspaceless %}
{% endblock %}