{% trans_default_domain 'FOSUserBundle' %}
{% form_theme form '@UneakPortoAdmin/FOSUser/porto_theme.html.twig' %}
<form action="{{ path('user_registration_register', {'key': key}) }}" {{ form_enctype(form) }} method="POST" class="user_registration_register">
    {% if serviceUser and serviceUser.picture is not empty %}
        <div class="row">
            <div class="col-sm-12">
                <img src="{{ serviceUser.picture }}" />
            </div>
        </div>
    {% endif %}
    {{ form_widget(form) }}
    <div class="row">
        <div class="col-sm-12">
            <button type="submit" id="submit" name="submit" class="btn btn-primary btn-block btn-lg mt-lg">{{ 'registration.submit'|trans }}</button>
        </div>
    </div>
</form>
