{% if link is not null %}
<form action="{{ link }}" class="search nav-form{{ classes }}">
	<div class="input-group input-search">
		<input type="text" class="form-control" name="{{ input_name }}" id="{{ input_name }}" placeholder="Recherche...">
		<span class="input-group-btn">
			<button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
		</span>
	</div>
</form>
{% else %}
<div class="search nav-form{{ classes }}">
	<div class="input-group input-search">
		<input type="text" class="form-control" name="{{ input_name }}" id="{{ input_name }}" placeholder="Recherche...">
		<span class="input-group-btn">
			<button class="btn btn-default"><i class="fa fa-search"></i></button>
		</span>
	</div>
</div>
{% endif %}