<div id="userbox" class="userbox">
	<a href="#" data-toggle="dropdown">
		<figure class="profile-picture">
            {% if user.image %}
                {% set userImage = user.image %}
            {% else %}
                {% set userImage = "bundles/uneakportoadmin/images/default_avatar.jpg" %}
            {% endif %}

			<img src="{{ asset(userImage) | imagine_filter('porto_admin_user_avatar_35') }}" alt="{{ user.firstname }} {{ user.lastname }}" class="img-circle" data-lock-picture="{{ asset(userImage) | imagine_filter('porto_admin_user_avatar_35')}}" />

		</figure>
		<div class="profile-info" data-lock-name="{{ user.firstname }} {{ user.lastname }}" data-lock-email="{{ user.email }}">
			<span class="name">{{ user.firstname }} {{ user.lastname }}</span>
			<span class="role">{{ user.username }}</span>
		</div>

		<i class="fa custom-caret"></i>
	</a>

	<div class="dropdown-menu">
		{{ renderBlock(menu) }}
	</div>
</div>

