<span class="stats-title">{{ title }}</span>
<span class="stats-complete">{{ value }}</span>
<div class="progress">
    <div class="progress-bar progress-bar-primary progress-without-number" role="progressbar" aria-valuenow="{{ percent }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ percent }}%;">
        <span class="sr-only">{{ percent }}% Terminé</span>
    </div>
</div>
