{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('member_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="member_profile_edit">
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'profile.edit.submit'|trans }}" />
    </div>
</form>
{% for owner in member_oauth_resource_owners() %}
    <a href="{{ member_oauth_login_url(owner) }}">{{ owner | trans({}, 'HWIOAuthBundle') }}</a> <br />
{% endfor %}
