{% trans_default_domain 'FOSUserBundle' %}
<form action="{{ path('user_registration_register', {'key': key}) }}" {{ form_enctype(form) }} method="POST" class="user_registration_register">
    {% if userInformation and userInformation.profilePicture is not empty %}
        <div class="row">
            <div class="col-sm-12">
                <img src="{{ userInformation.profilePicture }}" />
            </div>
        </div>
    {% endif %}
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'registration.submit'|trans }}" />
    </div>
</form>
