{% if error is defined and error %}
    <span>{{ error }}</span>
{% endif %}

<div class="mb-xs">
    <div>
        <a href="{{ path('oauth_authentication_code_request', {service: "facebook", action: "admin.connect"}) }}" class="btn btn-facebook mb-md ml-xs mr-xs pr-md pl-md"><i class="fa fa-facebook"></i> connexion</a><br />
        {%  if user.facebookId %}
            <ul>
                <li>Connecté</li>
                <li>{{ user.facebookId }}</li>
                <li><a href="https://www.facebook.com/{{ user.facebookId }}">Voir le profil</a></li>
                <li><a href="{{ path('user_profile_disconnect', {service: "facebook"}) }}">Deconnecter le profil</a></li>
            </ul>
        {% endif %}
    </div>
<hr/>
    <div>
        <a href="{{ path('oauth_authentication_code_request', {service: "google", action: "admin.connect"}) }}" class="btn btn-gplus mb-md ml-xs mr-xs pr-md pl-md"><i class="fa fa-google"></i> connexion</a><br />
        {%  if user.googleId %}
            <ul>
                <li>Connecté</li>
                <li>{{ user.googleId }}</li>
                <li><a href="https://plus.google.com/{{ user.googleId }}">Voir le profil</a></li>
                <li><a href="{{ path('user_profile_disconnect', {service: "google"}) }}">Deconnecter le profil</a></li>
            </ul>
        {% endif %}
    </div>
    <hr/>
    <div>
        <a href="{{ path('oauth_authentication_code_request', {service: "twitter", action: "admin.connect"}) }}" class="btn btn-twitter mb-md ml-xs mr-xs pr-md pl-md"><i class="fa fa-twitter"></i> connexion</a><br />
        {%  if user.twitterId %}
            <ul>
                <li>Connecté</li>
                <li>{{ user.twitterId }}</li>
                <li><a href="https://twitter.com/intent/user?user_id={{ user.twitterId }}">Voir le profil</a></li>
                <li><a href="{{ path('user_profile_disconnect', {service: "twitter"}) }}">Deconnecter le profil</a></li>
            </ul>
        {% endif %}

    </div>
</div>