{% extends 'UneakPortoAdminBundle:Layout:base.html.twig' %}

    {% block html_tag %}<html class="{{ layout_style }} {{ background_color }} {{ header_color }} {{ left_sidebar_size }}{% if left_sidebar_collapsed %} sidebar-left-collapsed{% endif %}" lang="fr">{% endblock %}


	{% block title %}{{ title }} - {{ parent() }}{% endblock %}
	{% block meta_keywords %}{% endblock %}
	{% block meta_description %}{% endblock %}

	{% block content %}
		<section class="body">

			<header class="header">
				{{ renderBlock(header) }}
			</header>

			<div class="inner-wrapper">
				{{ renderBlock(left_sidebar) }}

				<section role="main" class="content-body">
					{{ renderBlock(content) }}
				</section>
			</div>

			<aside id="sidebar-right" class="sidebar-right">
				{{ renderBlock(right_sidebar) }}
			</aside>
		</section>
	{% endblock %}


	{% block stylesheets %}
		{{ parent() }}
		{{ renderAssets('AssetExternalCss') }}
	{% endblock %}

	{% block javascripts_top %}
		{{ parent() }}
		{{ renderAssets('AssetExternalJs_top') }}
	{% endblock %}

	{% block javascripts_bottom %}
		{{ parent() }}
		{{ renderAssets('AssetExternalJs') }}
		<!-- Theme -->
		{{ renderAssets('AssetExternalJs_theme') }}
		<!-- Theme init -->
		{{ renderAssets('AssetExternalJs_theme_init') }}
	{% endblock %}

	{% block javascript_script %}
		{{ parent() }}
		{{ renderAssets('AssetInternalJs') }}
	{% endblock %}